prefix=${HOME}/.local
allow-scripts=@github/keytar,node-pty,@lydell/node-pty,@lydell/node-pty-linux-x64,@lydell/node-pty-darwin-arm64,@lydell/node-pty-darwin-x64,@lydell/node-pty-win32-arm64,@lydell/node-pty-win32-x64
