[Unit]
Description=Dusky CPU Core and Power Limiter Restorer
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python3 /usr/local/lib/dusky/cpu/tui_dusky_power_throttle.py --restore
ExecStart=/usr/bin/python3 /usr/local/lib/dusky/cpu/tui_dusky_core_manager.py --restore

[Install]
WantedBy=multi-user.target
